*{
    margin: 0;
    padding: 0;
}
ul{
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
body{
    background-color: #eee;
    /*background-image: url("../bg-login.png");*/
    font-family: 'Open Sans', sans-serif;
}

.side-menu{
    position: fixed;
    background: #388e3c;
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    padding:  30px 20px;
    transition: width .2s ease-in;
}

.side-menu.inactive{
    width: 80px;
}


.side-menu .top-section{
    position: relative;
}

.side-menu .top-section .logo {
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: inline-block;
}
.side-menu .top-section .logo img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px;
}

.side-menu .top-section .list-task-btn {
    font-size: 30px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

.side-menu.inactive .top-section .list-task-btn{
    right: -50px;
}

.side-menu .main-menu .menu-item{
    color: white;
    text-decoration: none;
    font-size: 15px;
    display: block;
    font-weight: 600;
    cursor: pointer;
}

.side-menu .main-menu .menu-item.active{
    background: #33691e;
    border-radius: 5px;

}

.side-menu .main-menu{
    margin: 5px 0;
}

.side-menu .main-menu .menu-item .menu-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.side-menu .main-menu .menu-item span{
    position: absolute;
    display: inline-block;
    line-height: 40px;
    opacity: 1;
    transition: opacity .2s ease-in;
}

.side-menu.inactive .main-menu .menu-item span{
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.side-menu .main-menu .sub-menu{
    color: white;
    margin-left: 20px;
    border-left: 1px solid white;
    box-sizing: border-box;
    padding-left: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-in;
}

.side-menu .main-menu .sub-menu.active{
    max-height: 200px;
}


.side-menu .main-menu .sub-menu a{
    display: block;
    margin: 5px 0;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    padding: 5px;
}

.side-menu .main-menu .sub-menu a.active{
    background: #33691e;
    display: block;
    border-radius: 5px;
    color: white;
}

.side-menu-footer{
    width: 300px;
    height: 11%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
}

.side-menu-footer .avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
}
.side-menu-footer .avatar img{
    max-width: 100%;
}

.side-menu-footer .user-info{
    display: inline-block;
    margin: 0 10px;
    color: white;
    position: absolute;
    opacity: 1;
    transition: opacity .2s ease-in;
}

/* .side-menu.inactive .side-menu-footer .user-info{
    opacity: 1;
    width: 0;
    height: 0;
    overflow: hidden;
} */

/* ============================= */

.side-menu-footer.inactive .user-info{
    opacity: 1;
    width: 0;
    height: 0;
    overflow: hidden;
}


/* ============================= */

.side-menu-footer .user-info h5{
    font-size: 15px;
    font-weight: bold;
}

.side-menu-footer .user-info p{
    font-size: 12px;
    margin-top: -2px;
    font-weight: bold;
}

.side-menu-footer .user-info .row{
    margin: 0px 0px;
    
}
.side-menu-footer .user-info .row i{
    margin-left: 60px;
    margin-top: -8px;
    font-size: 20px;
}


.divider {
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background: white;
}

.container {
    margin-left: 300px;
    transition: margin-left .2s ease-in;
    padding: 50px;
}

.container.inactive {
    margin-left: 80px;
}

.hr{
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background: green;
    
}
.thead-table{
    background: green;
    color: white;
}

.backgroundDiscount{
    width:100%;
    box-shadow: rgb(196, 194, 194) 2px 2px;
    border-radius: 10px;
}

.backgroundUser{
    max-width:100%;
    box-shadow: rgb(196, 194, 194) 2px 2px;
    border-radius: 10px;
}
.backgroundProduct
{
    width:130%;
    box-shadow: rgb(196, 194, 194) 2px 2px;
    border-radius: 10px;
}
/* {============================= layout của sideMenu ==============================} */

.paginationBttns {
    width: 100%;
    height: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    color:black;
}

.paginationBttns a{
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid green;
    color: green;
    cursor: pointer;
    text-decoration: none;
}

.paginationBttns a:hover {
    color: white;
    background-color: green;
}

.paginationActive a {
    color: white;
    background-color: green;
}
.tongtien{
    float: left;
}
#liner{
    border: 1px solid green;
}
